<!-- <app-ngmodel [childTitle]="title"></app-ngmodel> -->

<!--<span [ngSwitch]="title">
    <p *ngSwitchCase="true">

    </p>
    <p *ngSwitchCase="false">

    </p>
    <p *ngSwitchDefault>

    </p>
</span> -->


<!-- Project Start -->
<app-header></app-header>
<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div> -->
<!-- Project End -->


<!-- component Practices start-->
<!-- <app-component (server)="find($event)" [serverName]="serverParent" [serverContecnt]="serverContentParent">
</app-component> -->
<!-- component Practices start-->

<!-- custom directive start -->
<!-- <p appDir tcolor='red'>Style</p>
<p appDir tcolor='red'>Style with border</p>
<p appDir>Style with mouseEnter</p>
<input type='text' appDir>
<button class="btn btn-primary mybtn" value="my data">save</button> -->
<!-- custom directive start -->

<!-- service start -->
<!-- <button class="btn btn-danger me-4" (click)="getData()">GetData</button>
<button class="btn btn-danger me-4" (click)="setUser('Tejash')">set Data</button> -->
<!-- service end -->
<router-outlet></router-outlet>